In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("C:/Users/matur/OneDrive/Project/the_analysis_of_uber_transportation/data/uber_data.csv")

df = pd.DataFrame(data)

In [3]:
# Delete all rows with null values
df = df.dropna()


# Convert all column names to lowercase
df.columns = df.columns.str.lower()

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99982 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   vendorid               99982 non-null  int64
 1   tpep_pickup_datetime   99982 non-null  object
 2   tpep_dropoff_datetime  99982 non-null  object
 3   passenger_count        99982 non-null  float64
 4   trip_distance          99982 non-null  float64
 5   pickup_longitude       99982 non-null  float64
 6   pickup_latitude        99982 non-null  float64
 7   ratecodeid             99982 non-null  float64
 8   store_and_fwd_flag     99982 non-null  object
 9   dropoff_longitude      99982 non-null  float64
 10  dropoff_latitude       99982 non-null  float64
 11  payment_type           99982 non-null  float64
 12  fare_amount            99982 non-null  float64
 13  extra                  99982 non-null  float64
 14  mta_tax                99982 non-null  float64
 15  tip_amount             99982 non-null  float64
 16  tolls_amount           99982 non-null  float64
 17  improvement_surcharge  99982 non-null  float64
 18  total_amount           99982 non-null  float64
dtypes: float64(15), int64(1), object(3)
memory usage: 15.3+ MB

In [4]:
# Convert data type: object to datetime 
columns_to_convert_datetime = ["tpep_pickup_datetime", "tpep_dropoff_datetime"]
df[columns_to_convert_datetime] = df[columns_to_convert_datetime].apply(pd.to_datetime)

# Convert data type: float to integer 
columns_covert_to_int = ["passenger_count", "ratecodeid", "payment_type"]
df[columns_covert_to_int] = df[columns_covert_to_int].astype("int64")

# Covert data type: object to string
column_covert_to_str = "store_and_fwd_flag"
df[column_covert_to_str] = df[column_covert_to_str].astype("string")

In [5]:
# Delete rows with zero values
df = df[(df['pickup_longitude'] != 0) & (df['pickup_latitude'] != 0) & (df['dropoff_longitude'] != 0) & (df['dropoff_latitude'] != 0)]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98982 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   vendorid               98982 non-null  int64
 1   tpep_pickup_datetime   98982 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  98982 non-null  datetime64[ns]
 3   passenger_count        98982 non-null  int64
 4   trip_distance          98982 non-null  float64
 5   pickup_longitude       98982 non-null  float64
 6   pickup_latitude        98982 non-null  float64
 7   ratecodeid             98982 non-null  int64
 8   store_and_fwd_flag     98982 non-null  string
 9   dropoff_longitude      98982 non-null  float64
 10  dropoff_latitude       98982 non-null  float64
 11  payment_type           98982 non-null  int64
 12  fare_amount            98982 non-null  float64
 13  extra                  98982 non-null  float64
 14  mta_tax                98982 non-null  float64
 15  tip_amount             98982 non-null  float64
 16  tolls_amount           98982 non-null  float64
 17  improvement_surcharge  98982 non-null  float64
 18  total_amount           98982 non-null  float64
dtypes: datetime64[ns](2), float64(12), int64(4), string(1)
memory usage: 15.1 MB

In [7]:
position_columns = ['pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude']
str_datetime_columns = ['tpep_pickup_date', 'tpep_dropoff_date', 'store_and_fwd_flag']

# Iterate through each column
for col in df.select_dtypes(include=['int', 'float']).columns:
    print(col)
    if col in position_columns or col in str_datetime_columns:
        continue
    else:
        # Remove negative values
        df = df[df[col].apply(lambda x: x >= 0)]

vendorid
passenger_count
trip_distance
pickup_longitude
pickup_latitude
ratecodeid
dropoff_longitude
dropoff_latitude
payment_type
fare_amount
extra
mta_tax
tip_amount
tolls_amount
improvement_surcharge
total_amount

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98913 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   vendorid               98913 non-null  int64
 1   tpep_pickup_datetime   98913 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  98913 non-null  datetime64[ns]
 3   passenger_count        98913 non-null  int64
 4   trip_distance          98913 non-null  float64
 5   pickup_longitude       98913 non-null  float64
 6   pickup_latitude        98913 non-null  float64
 7   ratecodeid             98913 non-null  int64
 8   store_and_fwd_flag     98913 non-null  string
 9   dropoff_longitude      98913 non-null  float64
 10  dropoff_latitude       98913 non-null  float64
 11  payment_type           98913 non-null  int64
 12  fare_amount            98913 non-null  float64
 13  extra                  98913 non-null  float64
 14  mta_tax                98913 non-null  float64
 15  tip_amount             98913 non-null  float64
 16  tolls_amount           98913 non-null  float64
 17  improvement_surcharge  98913 non-null  float64
 18  total_amount           98913 non-null  float64
dtypes: datetime64[ns](2), float64(12), int64(4), string(1)
memory usage: 15.1 MB

In [9]:
df.to_csv('transformed_uber_data.csv', index=False)